.footer {
    background-color: var(--color-gray-light);
    box-shadow: 0 0 8px #0001;
	padding: 8px;
}

.footer__logo {
    height: 24px; 
    path {
        fill: var(--color-primary-normal);
    }
}

.footer__copyright {
    font-size: 10px;
}