:root{
    --primary-base: #ffffff;
    --primary-darker: #333333;
    --primary-grey-light: #BFBFBF;
    --secondary-base: #1A53FF;
}

html {
    height: -webkit-fill-available;
}

body {
    display: flex;
    background-color: var(--primary-base);
    height: 100vh;
    width: 100vw;
    margin: 0 !important;

}
.prb-login{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 16px;
    position: relative;
    overflow: hidden;
}
/* HEADER */

.prb-header {
    display: block;
    padding-bottom: 32px;
}

.prb-header img{
    width: 32px;
    height: 32px;
    margin: 0 auto;
}

/* TEXT */
.prb-highlight {
    color: var(--secondary-base);
}

.prb-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 27px;
    line-height: 120%;
    color: var(--primary-darker);
    margin-bottom: 10px;
    width: 100%;
}

.prb-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;    
    letter-spacing: 0.4px;    
    color: var(--primary-darker);
    margin-bottom: 60px;
}

/* FORM */

form#prb-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

form#prb-form .prb-form-content {
    width: 100%;
    position: relative;
    margin-top: 69px;
    min-height: 280px;
    max-height: 320px;
}

.mt-15 {
    margin-top: 15px !important;
}

form#prb-form label {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.4px;
    color: #333333;
}

form#prb-form #username-label{
    margin-bottom: 55px;
    display: flex;
    height: 40px;
}

form#prb-form .prb-input {
    outline: 0;
    background: var(--primary-base);
    border: 2px solid var(--primary-grey-light);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 13px 24px;
}

form#prb-form .prb-input.error {
    border-color: #C20A0A !important;
}

form#prb-form .prb-input:focus {
    border-color: var(--secondary-base);
}

form#prb-form #prb-btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    color: var(--primary-base);
    background: var(--secondary-base);
    box-shadow: 0px 6px 8px rgba(0, 38, 153, 0.15);
    border: 1px solid var(--secondary-base);
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 150%;
    width: 100%;
    margin: auto auto 16px;
    position: absolute;
    bottom: 15px;
}

form#prb-form #prb-btn-login.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: #BFBFBF;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    box-shadow: none;
}

form#prb-form #forgout{
    width: 193px;
    height: 26px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    text-decoration-line: underline;
    color: #1A53FF;
    mix-blend-mode: normal;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}

form#prb-form .has-error{
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.4px;
    color: #C20A0A;
}

.alert{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px 0 50px;
    width: 100%;
    height: 30px;
    left: 0px;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;
    margin: 0px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.4px;
    top: 190px;
    left: -50px;
    position: absolute;
}

.alert-error{
    color: #610505;
}

.alert > .pficon {
    top: 30px;
    display: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    select,
    textarea,
    input {
      font-size: 16px;
    }
  }