:root {
  --primary-lighter: #f2f2f2;
  --primary-light: #bfbfbf;
  --primary-base: #ffffff;
  --primary-darker: #333333;
  --secondary-base: #1a53ff;
  --error-base: #c20a0a;
}

* {
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  width: 100%;
}

html {
  height: -webkit-fill-available;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;

  background-color: var(--primary-base);
}

.prb-container {
  max-width: 500px;

  margin: 0 auto;
}

/* HEADER */

.prb-header {
  padding: 16px;

  width: 100%;
}

.prb-header img {
  width: initial;

  display: block;

  margin: 0 auto;
}

/* CONTENT */
#prb-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.prb-content {
  flex: 1;

  padding: 48px 16px 24px;
}

/* TEXT */
.prb-highlight {
  color: var(--secondary-base);
}

.prb-forgot {
  display: block;

  margin-top: 4px;

  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  color: var(--secondary-base);
}

.prb-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 120%;
  color: var(--primary-darker);

  margin-bottom: 8px;
}

.prb-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.4px;
  color: var(--primary-darker);
}

/* INPUT */

.prb-input-group {
  margin-top: 32px;
}

.prb-label {
  width: 100%;

  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.4px;
  color: var(--primary-darker);
}

.prb-input {
  width: 100%;

  padding: 13px 24px;

  background: var(--primary-base);
  border: 2px solid var(--primary-light);
  border-radius: 4px;

  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: 0.4px;
  color: var(--primary-darker);

  margin-bottom: 4px;
}

input.prb-input:focus {
  border-color: var(--secondary-base);
}

input.prb-error,
input.prb-error:focus {
  border-color: var(--error-base);
}

span.prb-error {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: var(--error-base);

  margin-bottom: 8px;
}

/* FOOTER */

.prb-footer {
  width: 100%;

  padding: 16px;
}

.prb-button {
  width: 100%;

  font-weight: bold;
  font-size: 17px;
  line-height: 120%;
  letter-spacing: 0.4px;
  color: var(--primary-base);

  background: var(--secondary-base);
  box-shadow: 0px 6px 8px rgba(0, 38, 153, 0.15);
  border-radius: 4px;

  padding: 16px;
}

.prb-button.disabled {
  color: var(--primary-light);

  background: var(--primary-lighter);
  box-shadow: none;
}

.hide {
  display: none !important;
}
