:root{
    --primary-base: #ffffff;
    --primary-darker: #333333;
    --primary-grey-light: #BFBFBF;

    --secondary-base: #1A53FF;
}

html {
    height: -webkit-fill-available;
}

body {
    display: flex;
    flex-direction: column;

    background-color: var(--primary-base);
    padding: 16px;

    width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

/* HEADER */

.prb-header {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 32px;
}

/* TEXT */

.prb-highlight {
    color: var(--secondary-base);
}

.prb-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 27px;
    line-height: 120%;
    color: var(--primary-darker);
    margin-bottom: 10px;
}

.prb-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;    
    letter-spacing: 0.4px;    
    color: var(--primary-darker);
    margin-bottom: 32px;
}

/* FORM */

form#prb-form {
    display: flex;
    flex-direction: column;

    /* height: 100%; */
    flex: 1;
}

form#prb-form .prb-form-content {
    flex: 1;
}

form#prb-form label {
    display: flex;
    flex-direction: column;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;

    letter-spacing: 0.4px;

    color: #333333;
}

form#prb-form label:first-child {
    margin-bottom: 40px;
}

form#prb-form .prb-input {
    outline: 0;
    
    background: var(--primary-base);
    border: 2px solid var(--primary-grey-light);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 13px 24px;
}

form#prb-form .prb-input.error {
    border-color: #C20A0A;
}

form#prb-form .prb-input:focus {
    border-color: var(--secondary-base);
}

form#prb-form #prb-btn-login {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 52px;

    color: var(--primary-base);
    background: var(--secondary-base);
    box-shadow: 0px 6px 8px rgba(0, 38, 153, 0.15);
    border: 1px solid var(--secondary-base);
    border-radius: 4px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 150%;
}

form#prb-form #prb-btn-login.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: #BFBFBF;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    box-shadow: none;
}