.home__banner {
    border-radius: 8px;
    border: 1px solid var(--color-gray-thin);
    overflow: hidden;
}

.home__image {
    height: 320px;
    width: auto;
}

.home__content {
    padding: 32px;
}

.home__title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 24px;
}

.home__description {
    font-size: 24px;
}

.home__list {
    font-size: 16px;
    padding-top: 24px;
    li {
        margin-bottom: 8px;
    }
    strong {
        color: var(--color-primary-normal);
    }
}

@media (orientation: portrait) {
    .home__banner {
        height: auto;
    }
    .home__image {
        display: none;
    }
}