.table {
    border-style: hidden;
    border-radius: 8px;
    box-shadow: 0 0 0 1px var(--color-gray-thin);

    tr {
        td {
            border-bottom: 1px solid #0001;
        }

        &:last-child {
            td {
                border-bottom: unset;
            }
        }
    }

    td,
    th {
        padding: 16px 24px;
        text-align: center;

        &:last-child {
            text-align: right;
        }

        &:first-child {
            text-align: left;
        }
    }

    td {
        border-bottom: unset;
        font-size: 12px;
        background-color: transparent;
        border-left: 1px solid #0001;
    }

    th {
        font-weight: 400;
        font-size: 14px;
        background-color: var(--color-primary-normal);
        color: var(--color-gray-light);
        border-left: 1px solid #fff3;

        &:last-child {
            border-top-right-radius: 8px;
        }

        &:first-child {
            border-top-left-radius: 8px;
        }
    }

    &.dataTable thead :is(.dtfc-fixed-start, .dtfc-fixed-end) {
        background-color: var(--color-primary-heavy);
    }
}

.table-scroll {
    max-width: calc(100vw - 280px - 84px - 16px);
    overflow: auto;
    margin: 0 auto;
}

.nav-menu--shrink + .flex-fill .table-scroll {
    max-width: calc(100vw - 70px - 84px - 16px);
}
